<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dpanko>
            <general>
                <enabled>1</enabled>
                <welcome_text>Hello, Amasty</welcome_text>
                <field_qty>100</field_qty>
            </general>
        </dpanko>
    </default>
</config>